<div ng-controller="BannerListCtrl">
  <a href="#/banners/create">
    <i class='bx bx-edit'></i>
    <span>Create</span>
  </a>
  <div ng-if="isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div ng-if="!isLoading">
    <div ng-if="total === 0">
      <empty-data>
    </div>
    <div ng-if="banners && banners.length > 0">
      <table class="content-table">
        <thead>
          <tr>
            <th>Stt</th>
            <th class="column-image">Image</th>
            <th>Name</th>
            <th>Store</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            <th>Expire</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="banner in banners">
            <td>{{ (page - 1) * limit + $index + 1}}</td>
            <td>
              <div class="table-row-image" ng-if="banner.image">
                <img ng-src="{{BE_URL + banner.image}}" />
              </div>
            </td>
            <td>{{ banner.name }}</td>
            <td>{{ banner.store.name }}</td>
            <td>{{ banner.status }}</td>
            <td>{{ banner.startOn }}</td>
            <td>{{ banner.endOn }}</td>
            <td>{{ banner.expire }}</td>
            <td class="column-action">
              <button class="edit">
                <i class='bx bx-edit-alt icon'></i>
              </button>
              <button class="delete">
                <i class='bx bx-trash icon'></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination></pagination>
    </div>
  </div>
</div>