<div class="form-title">
  <div class="form-title-content">
  </div>

  <div class="form-title-action">
    <button class="button-create button loading primary-outline" ng-class="{ 'loading': isLoading }">
      <a href="#/banners">
        <span>Cancel</span>
      </a>
    </button>
    <button class="button-create button loading primary" ng-click="createBanner()" ng-class="{ 'loading': isLoading }">
      <i class='bx bx-edit'></i>
      <span>Create</span>
    </button>
  </div>
</div>

<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label class="label" for="banner-name">Name</label>
      <input id="banner-name" ng-model="bannerName" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label class="label" for="banner-store">Store</label>
      <select ng-model="storeId" class="form-item select-dropdown">
        <option class="select-dropdown-item" ng-repeat="store in stores" value="{{store.id}}"
          ng-bind="store.name + ' - ' + store.floor.name">
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label class="label" for="banner-start">Start</label>
      <input id="banner-start" ng-model="bannerStart" type="datetime-local" />
    </div>

    <div class="form-item">
      <label class="label" for="banner-end">End</label>
      <input id="banner-end" ng-model="bannerEnd" type="datetime-local" />
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <button class="input-upload button primary" ng-click="uploadImage()" ng-class="{ 'loading': isLoading }">
        <i class='bx bx-upload'></i>
        <sapn>Upload file</sapn>
      </button>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>