<div class="form-title">
  <div class="form-title-content">
    <h3>{{banner.name}}</h3>
    <div ng-if="bannerStatus === 'active'" ng-click="toggleStatus()">
      <badge type="bannerStatus"></badge>
    </div>
    <div ng-if="bannerStatus !== 'active'" ng-click="toggleStatus()">
      <badge type="bannerStatus"></badge>
    </div>
    <div class="sub-form-title-content">
      {{ formattedDate(banner.startOn) }} {{ banner.endOn ? ' - ' + formattedDate(banner.endOn) : '' }}
    </div>
  </div>

  <div class="form-title-action">
    <a href="#/banners">
      <button class="button-create button primary-outline">
        <span>Cancel</span>
      </button>
    </a>
    <button class="button-create button primary" ng-click="updateBanner()">
      <i class='bx bx-edit'></i>
      <span>Save</span>
    </button>
  </div>
</div>

<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label class="label" for="banner-name">Name</label>
      <input id="banner-name" ng-model="bannerName" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label class="label" for="banner-store">Store</label>
      <select ng-model="storeId" class="form-item select-dropdown"
        ng-options="store.name + ' - ' + store.floor.name for store in stores">
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label class="label" for="banner-start">Start</label>
      <input id="banner-start" ng-model="bannerStart" type="datetime-local" />
    </div>

    <div class="form-item">
      <label class="label" for="banner-end">End</label>
      <input id="banner-end" ng-model="bannerEnd" type="datetime-local" />
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <button class="input-upload button primary" ng-click="uploadImage()">
        <i class='bx bx-upload'></i>
        <sapn>Upload file</sapn>
      </button>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>