<div ng-controller="BannerListCtrl">
  <a href="#/banners/create">
    <i class='bx bx-edit'></i>
    <span>Create</span>
  </a>
  <div ng-if="isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div ng-if="!isLoading">
    <div ng-if="total === 0">
      <empty-data>
    </div>
    <div ng-if="banners && banners.length > 0">
      <table class="content-table">
        <thead>
          <tr>
            <th>Stt</th>
            <th class="column-image">Image</th>
            <th>Name</th>
            <th>Store</th>
            <th class="column-status">Status</th>
            <th>Start</th>
            <th>End</th>
            <th>Expire</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="banner in banners">
            <td>{{ (page - 1) * limit + $index + 1}}</td>
            <td>
              <div class="table-row-image" ng-if="banner.image">
                <img ng-src="{{BE_URL + banner.image}}" />
              </div>
            </td>
            <td>{{ banner.name }}</td>
            <td>{{ banner.store.name }}</td>
            <td>
              <badge ng-if="editIndex !== $index" type="banner.status"></badge>
            </td>
            <td>{{ banner.startOn }}</td>
            <td>{{ banner.endOn }}</td>
            <td>{{ banner.expire }}</td>
            <td>
              <div class="column-action">
                <button class="edit">
                  <a href="#/banners/{{banner.id}}/edit">
                    <i class='bx bx-edit-alt icon'></i>
                  </a>
                </button>
                <button class="delete" ng-click="showDeleteConfirm(banner)">
                  <i class='bx bx-trash icon'></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination></pagination>
    </div>
  </div>

  <!-- Modal Section -->
  <modal ng-if="deleteModal">
    <button class="btn-close-modal" ng-click="closeDeleteConfirm()">
      <i class='bx bx-x'></i>
    </button>
    <h3 class="title-modal">Delete banner</h3>
    <div class="content-modal">
      <p>Permanantly delete <b>{{ selectBanner.name }}</b>. You can't undo this.</p>
    </div>
    <div class="action-modal">
      <button class="button outline-danger" ng-click="closeDeleteConfirm()">
        Cancel
      </button>
      <button class="button primary-danger" ng-click="handleDeleteBanner()">
        Delete
      </button>
    </div>
  </modal>
  <!-- Modal Section -->
</div>