<button class="button-create" ng-click="createCategory()">
  <span>Create</span>
  <i class='bx bx-edit'></i>
</button>
<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label class="label" for="name">Name</label>
      <input id="name" ng-model="name" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label class="label" for="type">Type</label>
      <select ng-model="type" class="form-item select-dropdown">
        <option value="product">Product</option>
        <option value="store">Store</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <div class="input-upload">
        <button class="button" ng-click="uploadImage()">Upload file</button>
        <div>{{ fileName }}</div>
      </div>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>