<div class="form-title">
  <div class="form-title-content">
    <h3>{{category.name}}</h3>
    <div ng-if="categoryStatus === 'active'" ng-click="toggleStatus()">
      <badge type="categoryStatus"></badge>
    </div>
    <div ng-if="categoryStatus !== 'active'" ng-click="toggleStatus()">
      <badge type="categoryStatus"></badge>
    </div>
  </div>

  <div class="form-title-action">
    <a href="#/categories">
      <button class="button-create button primary-outline" ng-class="{ 'loading': isLoading }">
        <span>Cancel</span>
      </button>
    </a>
    <button class="button-create button primary" ng-click="updateCategory()" ng-class="{ 'loading': isLoading }">
      <i class='bx bx-edit'></i>
      <span>Save</span>
    </button>
  </div>
</div>

<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label class="label" for="category-name">Name</label>
      <input id="category-name" ng-model="categoryName" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label class="label" for="type">Type</label>
      <select ng-model="type" class="form-item select-dropdown">
        <option value="product">Product</option>
        <option value="store">Store</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <button class="input-upload button primary" ng-click="uploadImage()" ng-class="{ 'loading': isLoading }">
        <i class='bx bx-upload'></i>
        <sapn>Upload file</sapn>
      </button>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>