<div ng-controller="CategoryListCtrl">
  <div class="form-title">
    <div class="form-title-content"></div>

    <div class="form-title-action">
      <a href="#/categories/create">
        <button class="button-create button primary">
          <i class='bx bx-plus-circle'></i>
          Create category
        </button>
      </a>
    </div>
  </div>

  <div class="filter-box shop-filter-box">
    <div class="search">
      <div class="search-input">
        <i class='bx bx-search-alt-2'></i>
        <input ng-model="query" class="form-control" type="text" placeholder="Enter..."
          ng-keypress="handleKeyPress($event)" />
      </div>
      <div class="search-btn">
        <button class="button-create button primary" ng-click="handleSearch()">Search</button>
      </div>
    </div>
  </div>

  <div ng-if=" isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div ng-if="!isLoading">
    <div ng-if="total === 0">
      <empty-data>
    </div>
    <div ng-if="data && data.length > 0">
      <table class="content-table">
        <thead>
          <tr>
            <th class="column-index">Stt</th>
            <th class="column-image">Image</th>
            <th>Name</th>
            <th>Type</th>
            <th class="column-status">Status</th>
            <th class="column-actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in data">
            <!-- index -->
            <td>{{ (page - 1) * limit + $index + 1}}</td>

            <!-- Image -->
            <td>
              <div class="table-row-image" ng-if="editIndex !== $index && item.image">
                <img ng-src="{{item.image}}" />
              </div>
              <div class="table-row-image" ng-if="editIndex === $index">
                <img ng-src="{{item.image}}" ng-if="item.image" />
                <button ng-if="!item.image" ng-click="uploadImage()">
                  <i class='bx bx-upload'></i>
                </button>
                <div class="images"></div>
              </div>
            </td>

            <!-- Name -->
            <td>
              <div ng-if="editIndex !== $index">
                {{ item.name }}
              </div>
              <div ng-if="editIndex === $index">
                <div class="form-item">
                  <input ng-change="changeCategory(this)" ng-model="editItem.name" placeholder="Name..." />
                </div>
              </div>
            </td>

            <!-- Type -->
            <td>
              <div ng-if="editIndex !== $index">
                {{ item.type }}
              </div>
              <div ng-if="editIndex === $index">
                <select ng-model="editItem.type" class="form-item select-dropdown">
                  <option value="product">Product</option>
                  <option value="store">Store</option>
                </select>
              </div>
            </td>

            <!-- Status -->
            <td>
              <badge ng-if="editIndex !== $index" type="item.status"></badge>
              <div ng-if="editItem.status === 'active' && editIndex === $index" ng-click="toggleStatus()">
                <badge type="editItem.status"></badge>
              </div>
              <div ng-if="editItem.status !== 'active' && editIndex === $index" ng-click="toggleStatus()">
                <badge type="editItem.status"></badge>
              </div>
            </td>

            <!-- Action -->
            <td>
              <div class="column-action">
                <button class="edit">
                  <a href="#/categories/{{item.id}}/edit">
                    <i class='bx bx-edit-alt icon'></i>
                  </a>
                </button>

                <button class="delete" ng-click="showDeleteConfirm(item)">
                  <i class='bx bx-trash'></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination></pagination>
    </div>
  </div>

  <!-- Modal Section -->
  <modal ng-if="deleteModal">
    <button class="btn-close-modal" ng-click="closeDeleteConfirm()">
      <i class='bx bx-x'></i>
    </button>
    <h3 class="title-modal">Delete category</h3>
    <div class="content-modal">
      <p>Permanantly delete <b>{{ selectCategory.name }}</b>. You can't undo this.</p>
    </div>
    <div class="action-modal">
      <button class="button danger-outline" ng-click="closeDeleteConfirm()">
        Cancel
      </button>
      <button class="button primary-danger" ng-click="handleDeleteCategory()">
        Delete
      </button>
    </div>
  </modal>
  <!-- Modal Section -->
</div>