<div class="dine-container">
  <div class="dine-filter-box">
    <filter-box ng-if="loadFilter" />
  </div>
  <div class="dine-box">
    <a href="{{store.id}}" class="dine-item hover-effect" ng-repeat="store in stores"
      ng-class="{'flex-direction-left': !isLeft($index)}">
      <img src="{{store.image}}" />
      <div class="dine-info" ng-class="{'transform-left': !isLeft($index)}">
        <h3>{{ store.name }}</h3>
        <p>Floor: {{ store.floor.name }}</p>
        <p>Phone: {{ store.name }}</p>
      </div>
    </a>
  </div>
  <pagination></pagination>
</div>