<div ng-controller="StoreListCtrl">
  <a href="#/stores/create">Create</a>
  <div ng-if="isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div ng-if="!isLoading">
    <div ng-if="!data || data.length === 0">
      <empty-data>
    </div>
    <div ng-if="data && data.length > 0">
      <table class="content-table">
        <thead>
          <tr>
            <th>Stt</th>
            <th class="column-image">Image</th>
            <th>Name</th>
            <th>Floor</th>
            <th>Category</th>
            <th>Facilities</th>
            <!-- <th>Banners</th> -->
            <th>Status</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in data">
            <td>{{ $index + 1}}</td>
            <td>
              <img ng-src="{{ item.image }}" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.floor.name }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.facilities }}</td>
            <!-- <td>{{ item.banners }}</td> -->
            <td>{{ item.status }}</td>
            <td>{{ item.description }}</td>
            <td class="column-action">
              <button class="edit" />
              <button class="delete" />
            </td>
          </tr>
        </tbody>
      </table>
      <pagination></pagination>
    </div>
  </div>
</div>