<div class="form-title">
  <div class="form-title-content">
  </div>

  <div class="form-title-action">
    <button class="button-create button primary-outline" ng-class="{ 'loading': isLoading }">
      <a href="#/stores">
        <span>Cancel</span>
      </a>
    </button>
    <button class="button-create button primary" ng-click="createStore()" ng-class="{ 'loading': isLoading }">
      <i class='bx bx-edit'></i>
      <span>Create</span>
    </button>
  </div>
</div>

<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label for="store-name">Name</label>
      <input id="store-name" ng-model="name" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label for="store-name">Floor</label>
      <select ng-model="floorId" class="form-item select-dropdown">
        <option value="">Select floor</option>
        <option ng-repeat="floor in floors" value="{{floor.id}}" ng-bind="floor.name"></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-category">Category</label>
      <select ng-model="categoryId" class="form-item select-dropdown">
        <option value="">Select category</option>
        <option ng-repeat="category in categories" value="{{category.id}}" ng-bind="category.name"></option>
      </select>
    </div>

    <div class="form-item">
      <label for="store-facility">Facilities</label>
      <select ng-model="facilityIds" class="form-item select-dropdown">
        <option value="">Select facility</option>
        <option ng-repeat="facility in facilities" value="{{facility.id}}" ng-bind="facility.name"></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-phone">Phone</label>
      <input id="store-phone" ng-model="phone" placeholder="Phone..." />
    </div>

    <div class="form-item">
      <label for="store-email">Email</label>
      <input id="store-email" ng-model="email" placeholder="Email..." />
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-description">Description</label>
      <input id="store-description" ng-model="description" placeholder="Description..." />
    </div>

    <div class="form-item"></div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <button class="input-upload button primary" ng-click="uploadImage()" ng-class="{ 'loading': isLoading }">
        <i class='bx bx-upload'></i>
        <sapn>Upload file</sapn>
      </button>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>