<div ng-controller="StoreListCtrl">
  <div class="form-title">
    <div class="form-title-content"></div>

    <div class="form-title-action">
      <a href="#/stores/create">
        <button class="button-create button primary">
          <i class='bx bx-plus-circle'></i>
          Create store
        </button>
      </a>
    </div>
  </div>

  <div class="filter-box shop-filter-box">
    <div class="search">
      <div class="search-input">
        <i class='bx bx-search-alt-2'></i>
        <input ng-model="query" class="form-control" type="text" placeholder="Enter..."
          ng-keypress="handleKeyPress($event)" />
      </div>
      <div class="search-btn">
        <button class="button-create button primary" ng-click="handleSearch()">Search</button>
      </div>
    </div>
  </div>

  <div ng-if="isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div ng-if="!isLoading">
    <div ng-if="!stores || stores.length === 0">
      <empty-data>
    </div>
    <div ng-if="stores && stores.length > 0">
      <table class="content-table">
        <thead>
          <tr>
            <th class="column-index">Stt</th>
            <th class="column-image">Image</th>
            <th>Name</th>
            <th>Floor</th>
            <th>Category</th>
            <th>Facilities</th>
            <th class="column-status">Status</th>
            <th>Description</th>
            <th class="column-actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="store in stores">
            <td>{{ (page - 1) * limit + $index + 1}}</td>
            <td>
              <div class="table-row-image" ng-if="store.image">
                <img ng-src="{{store.image}}" />
              </div>
            </td>
            <td>{{ store.name }}</td>
            <td>{{ store.floor.name }}</td>
            <td>{{ store.category.name }}</td>
            <td>{{ store.facilities }}</td>
            <td>
              <badge ng-if="editIndex !== $index" type="store.status"></badge>
              <div ng-if="editItem.status === 'active' && editIndex === $index" ng-click="toggleStatus()">
                <badge type="editItem.status"></badge>
              </div>
              <div ng-if="editItem.status !== 'active' && editIndex === $index" ng-click="toggleStatus()">
                <badge type="editItem.status"></badge>
              </div>
            </td>
            <td>{{ store.description }}</td>
            <td>
              <div class="column-action">
                <button class="edit">
                  <a href="#/stores/{{store.id}}/edit">
                    <i class='bx bx-edit-alt icon'></i>
                  </a>
                </button>
                <button class="delete" ng-click="showDeleteConfirm(store)">
                  <i class='bx bx-trash icon'></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination></pagination>
    </div>
  </div>

  <!-- Modal Section -->
  <modal ng-if="deleteModal">
    <button class="btn-close-modal" ng-click="closeDeleteConfirm()">
      <i class='bx bx-x'></i>
    </button>
    <h3 class="title-modal">Delete store</h3>
    <div class="content-modal">
      <p>Permanantly delete <b>{{ selectStore.name }}</b>. You can't undo this.</p>
    </div>
    <div class="action-modal">
      <button class="button danger-outline" ng-click="closeDeleteConfirm()">
        Cancel
      </button>
      <button class="button primary-danger" ng-click="handleDeleteStore()">
        Delete
      </button>
    </div>
  </modal>
  <!-- Modal Section -->
</div>