<div class="form-title">
  <div class="form-title-content">
    <h3>{{storeName}}</h3>
    <div ng-if="storeStatus === 'active'" ng-click="toggleStatus()">
      <badge type="storeStatus"></badge>
    </div>
    <div ng-if="storeStatus !== 'active'" ng-click="toggleStatus()">
      <badge type="storeStatus"></badge>
    </div>
  </div>

  <div class="form-title-action">
    <a href="#/stores">
      <button class="button-create button primary-outline">
        <span>Cancel</span>
      </button>
    </a>
    <button class="button-create button primary" ng-click="updateStore()">
      <i class='bx bx-edit'></i>
      <span>Save</span>
    </button>
  </div>
</div>

<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label for="store-name">Name</label>
      <input id="store-name" ng-model="store.name" placeholder="Name..." />
    </div>

    <div class="form-item">
      <label for="store-name">Floor</label>
      <select ng-model="floorId" class="form-item select-dropdown" ng-options="floor.name for floor in floors">
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-category">Category</label>
      <select ng-model="categoryId" class="form-item select-dropdown"
        ng-options="category.name for category in categories">
      </select>
    </div>

    <div class="form-item">
      <label for="store-facility">Facilities</label>
      <select ng-model="facilityId" class="form-item select-dropdown" ng-options="facility.name for facility in facilities">
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-phone">Phone</label>
      <input id="store-phone" ng-model="store.phone" placeholder="Phone..." />
    </div>

    <div class="form-item">
      <label for="store-email">Email</label>
      <input id="store-email" ng-model="store.email" placeholder="Email..." />
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-description">Description</label>
      <input id="store-description" ng-model="store.description" placeholder="Description..." />
    </div>

    <div class="form-item"></div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <button class="input-upload button primary" ng-click="uploadImage()">
        <i class='bx bx-upload'></i>
        <sapn>Upload file</sapn>
      </button>
    </div>
    <div class="form-item"></div>
  </div>
  <div class="images"></div>
</div>