<button ng-click="createStore()">Create</button>
<div class="form-container">
  <div class="form-group">
    <div class="form-item">
      <label for="store-name">Name</label>
      <input id="store-name" ng-model="name" placeholder="Name..."/>
    </div>  

    <div class="form-item">
      <label for="store-floor">Floor</label>
      <input id="store-floor" ng-model="floor" placeholder="Floor..."/>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-category">Category</label>
      <input id="store-category" ng-model="category" placeholder="Category..."/>
    </div>  

    <div class="form-item">
      <label for="store-facility">Facilities</label>
      <input id="store-facility" ng-model="facility" placeholder="Facilities..."/>
    </div>
  </div>

  <div class="form-group">
    <div class="form-item">
      <label for="store-banner">Banners</label>
      <input id="store-banner" ng-model="banners" placeholder="Banners..."/>
    </div>  

    <div class="form-item">
      <label for="store-description">Description</label>
      <input id="store-description" ng-model="description" placeholder="Description..."/>
    </div>
  </div>
</div>