<style>
  .filter-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Search */
  .filter-box .search {
    display: flex;
  }

  .filter-box .search .search-input {
    flex-grow: 1;
  }
  
  .filter-box .search .search-btn {
    display: flex;
  }

  /* End Search */


  /* Search */
  .filter-box .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* End Search */
</style>

<div class="filter-box">
  <div class="search">
    <div class="search-input">
      <input class="form-control" type="text" placeholder="Search" />
    </div>
    <div class="search-btn">
      <button type="submit" class="">Search</button>
    </div>
  </div>
  <div class="filter">
    <div class="form-group col-sm-3 col-xs-6">
      <select data-filter="make" class="filter-make filter form-control">
        <option value="">Select Make</option>
        <option value="">Show All</option>
      </select>
    </div>
    <div class="form-group col-sm-3 col-xs-6">
      <select data-filter="model" class="filter-model filter form-control">
        <option value="">Select Model</option>
        <option value="">Show All</option>
      </select>
    </div>
    <div class="form-group col-sm-3 col-xs-6">
      <select data-filter="type" class="filter-type filter form-control">
        <option value="">Select Type</option>
        <option value="">Show All</option>
      </select>
    </div>
    <div class="form-group col-sm-3 col-xs-6">
      <select data-filter="price" class="filter-price filter form-control">
        <option value="">Select Price Range</option>
        <option value="">Show All</option>
      </select>
    </div>
  </div>
</div>