<div class="shop-container">
  <div class="shop-filter-box">
    <filter-box ng-if="loadFilter" />
  </div>
  <div class="shop-box">
    <a href="#/shop/{{store.id}}" class="shop-item hover-effect" ng-repeat="store in stores"
      ng-class="{'flex-direction-left': !isLeft($index)}">
      <img src="{{store.image}}" />
      <div class="shop-info" ng-class="{'transform-left': !isLeft($index)}">
        <h3>{{ store.name }}</h3>
        <p>Floor: {{ store.floor.name }}</p>
        <p>Phone: {{ store.name }}</p>
      </div>
    </a>
  </div>
  <div ng-if="total !== 0" class="pagination-box">
    <pagination></pagination>
  </div>
  <empty-data ng-if="total === 0"></empty-data>
</div>