.shop-container {
  background-color: #efefef;
  gap: 24px;
}

/* 
  * filter
*/
.shop-filter-box {
  position: sticky;
  padding: 1.5rem 2rem;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: max-content;
  background: #efefef;
  width: 100%;
}

/* 
  * serach
*/

.search-box {
  display: flex;
  gap: 8px;
}

.search-input input {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
}

/* 
  * shop list
*/

.shop-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2rem 0;
}

.shop-item {
  display: flex;
  align-items: center;
}

.hover-effect {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.hover-effect:hover img {
  transform: scale(1.1);
}

.hover-effect img {
  transition: transform 0.3s;
}

.hover-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 2;
}

.hover-effect:hover::before {
  opacity: 1;
}

.shop-item img {
  width: 380px;
  height: 380px;
}

.shop-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 8px;
  width: 200px;
  height: 100px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: #fff;
  transform: translateX(-25%);
}

.transform-left {
  transform: translateX(25%) !important;
}

.flex-direction-left {
  flex-direction: row-reverse !important;
}

.pagination-box {
  display: flex;
  width: 100%;
  justify-content: center;
}