.shop-container {
  background-color: #efefef;
  padding: 20px;
}

/* 
  * filter
*/
.shop-filter-box {
  position: sticky;
  padding: 1.5rem 2rem;
  top: 0;
  z-index: 5;
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  width: max-content;
  background: #efefef;
  width: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

/* 
  * serach
*/

.search-box {
  display: flex;
  gap: 8px;
}

.search-input input {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
}

/* 
  * shop list
*/

.shop-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2rem 0;
}

.shop-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.hover-effect {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.hover-effect:hover img {
  transform: scale(1.1);
}

.hover-effect img {
  transition: transform 0.3s;
}

.hover-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 2;
}

.hover-effect:hover::before {
  opacity: 1;
}

.shop-item img {
  width: 380px;
  height: 380px;
}

.shop-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 8px;
  width: 200px;
  height: 100px;
  background: #F5F5F5;
  /* #1a1a1a */
  border-radius: 8px;
  color: #6235b0;
  opacity: 0.7;
  transform: translateX(-25%);
}

.transform-left {
  transform: translateX(25%) !important;
}

.flex-direction-left {
  flex-direction: row-reverse !important;
}

.pagination-box {
  display: flex;
  width: 100%;
  justify-content: center;
}


#store-product-heading {
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 2.5rem;
  font-family: 600;
  padding: 20px;
  text-decoration: underline;
}

/* shop detail */
.shop-detail-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shop-image {
  width: 100%;
  object-fit: contain;
  background: #e1d5d5;
  max-height: 300px;
}

.shop-detail-left {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.shop-detail-left h2 {
  font-size: 30px;
  font-weight: 600;
}

.shop-detail {
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 16px;
}

.shop-detail div {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  margin-right: 16px;
  padding: 8px 0;
}

.store-description {
  font-weight: 400;
  padding: 16px 0;
  font-style: italic;
}

.shop-detail i {}

.products {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 16px 0px;
  justify-content: space-evenly;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 350px;
  position: relative;
}

.product-image {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  object-fit: contain;
  border: 1px solid black;
  padding: 16px;
}

.description-text {
  font-style: italic;
  color: #e1d5d5;
  font-weight: 400;
  font-size: 14px;
}

.product-title {
  display: flex;
  justify-content: space-between;
}

.sould-out {
  position: absolute;
  color: red;
  margin: 0 auto;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: rotate(-50deg);
  background-color: black;
  opacity: 0.7;
}