/* slick dots css */
.slick {
  width: 100%;
  height: auto;
  background: #fff;
}

#banner img,
#brand img {
  width: 100%;
  max-height: calc(100vh - 100px);
  object-fit: cover;
}

.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: orange;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: red;
}
/* slick dots css */

/* slick arrow css */
.slick-dotsbutton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.slick-arrow.prev-arrow {
  left: 40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 10;
}
.slick-arrow.next-arrow {
  right: 40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 10;
}
/* slick arrow css */