<div ng-controller="MallCtrl">
  <div ng-if="isLoading">
    <div class="spinner">Loading...</div>
  </div>
  <div class="setting-layout" ng-if="!isLoading">
    <div class="setting-box">
      <h3>Facilities</h3>
      <div class="setting-box-main" ng-if="!facilities || !facilities.length">
        <empty-data>
      </div>
      <div class="setting-box-main" ng-if="facilities && facilities.length > 0">
        <div class="content-table">
          <div class="table-line-header">
            <div>Stt</div>
            <div>Name</div>
            <div>Status</div>
            <div></div>
          </div>
          <div>
            <div class="table-line-row" ng-repeat="item in facilities">
              <div>{{ $index + 1 }}</div>
              <div ng-if="item.status">
                {{ item.name }}
              </div>
              <div ng-if="!item.status">
                <div class="form-item">
                  <input ng-change="changeFacility(this, $index)" ng-model="name" placeholder="Name..." />
                </div>
              </div>
              <div ng-if="item.status">
                {{ item.name }}
              </div>
              <div ng-if="!item.status">
                active
              </div>
              <div class="column-action">
                <button class="edit" ng-click="edit($index, item, 'facilities')" />
                <button class="delete" ng-click="delete($index)" />
                <button ng-click="remove($index, 'facilities')">x</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-box">
        <div class="button-save" ng-click="saveSetting()">Save</div>
        <div class="button-add" ng-click="addFacilityLine()">Add</div>
      </div>
    </div>

    <div class="setting-box">
      <h3>Floors</h3>
      <div class="setting-box-main" ng-if="!floors || !floors.length">
        <empty-data>
      </div>
      <div class="setting-box-main" ng-if="floors && floors.length > 0">
        <div class="content-table">
          <div>
            <div>Stt</div>
            <div>Image</div>
            <div>Name</div>
            <div>Status</div>
            <div></div>
          </div>
          <div>
            <div ng-repeat="item in floors">
              <div>{{ item.id }}</div>
              <div>{{ item.image }}</div>
              <div>{{ item.name }}</div>
              <div>{{ item.status }}</div>
              <div class="column-action">
                <button class="edit" ng-click="edit($index, item, 'floors')" />
                <button class="delete" />
                <button ng-click="remove($index, 'floors')">x</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-box">
        <div class="button-save" ng-click="saveSetting()">Save</div>
        <div class="button-add" ng-click="addFloorLine()"">Add</div>
      </div>
    </div>

  </div>
</div>