<div class="admin-sidebar" ng-class="{'collapse-expanded': sidebarVisible, 'collapse-collapsed': !sidebarVisible}">
  <div ng-show="sidebarVisible">
    <header>
      <div class="image-button">
        <div class="image">
          <img src="assets\img\3u606rni.png" alt="logo">
        </div>
        <button class="toggle-sidebar-btn" ng-click="toggleSidebar()">
          <i class='bx bxs-hide icon' icon></i>
        </button>
      </div>
    </header>
    <ul class="sidebar-menu">
      <li class="nav-link">
        <a href="#">
          <i class='bx bx-grid-alt icon' ></i>
          <span class="text nav-text" >Dashboard</span>
        </a>
      </li class="nav-link">
      <li>
        <a href="#/users">
          <i class='bx bx-user icon' ></i>
          <span class="text nav-text" >Users</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#/banners">
          <i class='bx bx-image-alt icon' ></i>
          <span class="text nav-text" >Banners</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#/stores">
          <i class='bx bx-store icon' ></i>
          <span class="text nav-text" >Stores</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#/products">
          <i class='bx bx-package icon' ></i>
          <span class="text nav-text" >Products</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          <i class='bx bx-cart icon'></i>
          <span class="text nav-text" >Orders</span>
        </a>
      </li>
    </ul>
    <ul class="bottom-content">
      <li>
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="close" ng-hide="sidebarVisible">
    <button class="toggle-sidebar-btn" ng-click="toggleSidebar()">
      <i class='bx bx-show icon'></i>
    </button>
    <ul class="sidebar-menu">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt icon'></i>
        </a>
        </li>
      <li>
        <a href="#/users">
          <i class='bx bx-user icon'></i>
        </a>
      </li>
      <li>
        <a href="#/banners">
          <i class='bx bx-image-alt icon'></i>
        </a>
      </li>
      <li>
        <a href="#stores">
          <i class='bx bx-store icon'></i>
        </a>
      </li>
      <li>
        <a href="#products">
          <i class='bx bx-package icon'></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart icon'></i>
        </a>
      </li>
    </ul>
    <ul class="bottom-content">
      <li>
        <a href="">
          <i class='bx bx-log-out icon'></i>
        </a>
      </li> 
    </ul>
  </div>
</div>