.setting-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.setting-box {
  flex-grow: 1;
  width: 100%;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.setting-box h3 {
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
  padding: 8px 0;
}

.setting-box .setting-box-main {
  padding: 16px 0;
}

.setting-box .action-box {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  border-top: 1px solid black;
  padding-top: 16px;
}

.setting-box .button-add {
  text-align: center;
  cursor: pointer;
  width: 64px;
  border: 1px solid #1677ff;
  color: #1677ff;
  border-radius: 8px;
  padding: 4px 0;
}

.setting-box .button-save {
  text-align: center;
  cursor: pointer;
  width: 64px;
  background: #1677ff;
  color: #fff;
  border-radius: 8px;
  padding: 4px 0;
}