/* Poppins */
:root {
  /* Color */
  --siderbar-color: #fff;
  --primary-color: #695cfe;
  --body-color: #e4e9f7;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
.admin-sidebar{
  background: var(--siderbar-color);
  width: 100%;
  transition: var(--tran-05);
}
.admin-sidebar ul.bottom-content {
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
}
.admin-sidebar ul.bottom-content .text{
  padding-right: 35px;
}
.admin-sidebar .image{
  min-width: 60px;
  display: flex;
  /* align-items: center; */
}
.admin-sidebar header .image-button{
  display: flex;
  align-items: center;
}

.admin-sidebar header .image-button img {
  margin: 10px;
  width: 40px;
}
header .image-button button{
  margin: 0;
}

.admin-sidebar .text {
  padding-right: 10px;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
}

.admin-sidebar li{
  list-style: none;
  align-items: center;
}

.admin-sidebar .sidebar-menu{
  display: flex;
}
.admin-sidebar button,
.admin-sidebar li a {
  transition: var(--tran-02);
  height: 40px;  
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.admin-sidebar button .icon,
.admin-sidebar li a .icon {
  padding: 10px;
  font-size: 20px;
}

.admin-sidebar button:hover,
.admin-sidebar li a:hover {
  background: var(--primary-color);
}

.admin-sidebar button:hover .icon,
.admin-sidebar li a:hover .icon,
.admin-sidebar li a:hover .text {
  color: var(--siderbar-color);
}

.admin-sidebar .toggle-sidebar-btn,
.admin-sidebar .sidebar-menu {
  flex-direction: column;
}

.admin-sidebar .close{
  margin-top: 10px;
}

