/* 
 * Table
 */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #1677ff;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:hover {
  background: #d9d9d9;
  cursor: pointer;
}

.content-table tbody {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #1677ff;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table .column-action {
  display: flex;
  gap: 16px;
}

.content-table .edit {
  border: 1px solid #faad14;
  align-items: center;
  background-color: #faad14;
  color: #fff;
}
.content-table .edit:hover {
  background-color: #ff9d00;
  color: #fff;
}
.content-table .delete {
  border: 1px solid #ff4d4f;
  align-items: center;
  background-color: #ff4d4f;
  color: #fff;
}
.content-table .delete:hover {
  background-color: #f50400;
  color: #fff;
}
.content-table .column-action button {
  display: flex;
  width: 24px;
  height: 24px;
  background-size: cover;
  padding: 4px;
  border-radius: 6px;
}
/* Table */

/* 
 * Pagination
 */
.pagination-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
}

.pagination-disable {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.pagination-disable:hover {
  cursor: not-allowed;
  background-color: transparent;
}

.pagination-item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: 0;
  cursor: pointer;
}

.pagination-item:not(.pagination-item-active, .pagination-disable):hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
}

.pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.88);
  transition: none;
}

.pagination-item-active {
  font-weight: 600;
  background-color: #ffffff;
  border-color: #1677ff;
}

.pagination-item-active a {
  color: #1677ff;
}

.pagination-option {
  align-items: center;
  align-self: center;
  display: flex;
  height: 32px;
  padding: 0 11px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 8px;
}

.pagination-dropdown {
  margin: 0;
  padding: 4px 7px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  z-index: 1050;
  overflow: hidden;
  font-variant: initial;
  background-color: #ffffff;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.pagination-select {
  height: 28px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.pagination-select:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
}

.pagination-dropdown-hide {
  visibility: hidden;
}
.pagination-option {
  position: relative;
}

.pagination-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px;
}

.pagination-option:focus .pagination-dropdown {
  display: block;
}

.pagination-select {
  cursor: pointer;
}

.pagination-select:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
}
.pagination-option {
  position: relative;
}

.pagination-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px;
}
/* Pagination */

/* Line item */
.table-line-header {
  background-color: #009879;
  color: #f3f3f3;
}
.table-line-header,
.table-line-row {
  display: flex;
}

.table-line-header div,
.table-line-row div {
  align-self: center;
  padding: 8px;
}

.content-table .column-image {
  width: 50px;
}
.table-row-image {
  width: 40px;
  height: 40px;
  border: solid 1px rgb(0 0 0 / 25%);
  border-radius: 8px;
}
.table-row-image img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.content-table .column-actions {
  width: 95px;
}
.content-table .column-status {
  width: 105px;
  text-align: center;
}
.content-table .column-index {
  width: 70px;
}
/* Line item */
