<div class="info-banner">
  About Us
</div>

<div class="about-mall">
  <div>
    <h4>A Few Words About us</h4>
    <p>
      Aurora Mall is a four-story vertical shopping and entertainment center located in the heart of downtown San Diego
      in the thriving Yerba Buena Neighborhood. Shop at the City Target on the second level and visit a 16-screen AMC
      Theater with the largest IMAX in North America.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquid dicta eaque vel tempora! Voluptates
      accusamus eveniet doloremque ipsa quia dicta mollitia fugiat assumenda, molestiae dignissimos repellat unde ullam
      atque.
    </p>
  </div>
  <img src="http://127.0.0.1:5500/app/assets/image/aboutMall.jpg" />
</div>


<div class="facilities-mall">
  <div class="facilities-mall-item">
    <img src="http://127.0.0.1:5500/app/assets/image/wifiIcon.png">
    <div class="facilities-name">FREE WI-FI</div>
    <p></p>
    <div class="facilities-des">
      We have a network accessible for free across the entire common mall area.
    </div>
  </div>

  <div class="facilities-mall-item">
    <img src="http://127.0.0.1:5500/app/assets/image/gifticon.png">
    <div class="facilities-name">MALL GIFT CARDS </div>
    <p></p>
    <div class="facilities-des">
      The best gift solution is available at your favorite shopping mall.
    </div>
  </div>

  <div class="facilities-mall-item">
    <img src="http://127.0.0.1:5500/app/assets/image/cardIcon.png">
    <div class="facilities-name">LOST AND FOUND</div>
    <p></p>
    <div class="facilities-des">
      Did you lose an item while visiting the mall? Call now 1-800-1234-456
    </div>
  </div>
</div>

<div class="feedback-mall">
  <h4 id="feedback">Give us your feedback</h4>
  <div class="feedback-form form-container">
    <div class="form-group">
      <div class="form-item">
        <label class="label" for="name">Name</label>
        <input id="name" ng-model="name" placeholder="Name..." />
      </div>

      <div class="form-item">
        <label class="label" for="email">Email</label>
        <input id="email" ng-model="email" placeholder="Email..." />
      </div>
    </div>

    <div class="form-group">
      <div class="form-item">
        <label class="label" for="message">Description</label>
        <textarea id="message" ng-model="message" placeholder="Description..."></textarea>
      </div>
    </div>
    <button class="button-create button primary" ng-click="sendFeedBack()">Submit</button>
  </div>
</div>